/*Slider style*/
.wrapper{
    width: 400px;
    height: 100px;
    border: 1px solid #000;
    position: relative;
    overflow: auto;
}
.slider{
    width: 1000px;
    background: grey;
    position: absolute;
    margin: 0;
    padding: 0 0 0 4px;
}
.slider li{
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: #fff;
    margin: 10px 0 10px 0;
}